.btn-search {
  outline: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid transparent;
  transition: all .3s linear;

  &:hover {
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
  }
}

.cards-height {
  height: 550px;
}


.pagination-btn {
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 16px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.active {
    background-color: #212121;
    border: 1px solid #212121;

    &>span {
      color: #fff;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

}

.dropdown-menu>span {
  cursor: pointer;
}